<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="../static/assets/landing_page/img/icon/logo1.png" type="image/png">
        <title>AI</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/assets/landing_page/css/bootstrap.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/linericon/style.css">
        <link rel="stylesheet" href="../static/assets/landing_page/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="../static/assets/landing_page/css/style.css">
        <link rel="stylesheet" href="../static/assets/landing_page/css/responsive.css">
    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="header_area">
           	<div class="top_menu row m0">
           		<div class="container">
					<div class="float-left">
						<ul class="list header_social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
					<div class="float-right">
						<a class="dn_btn" href="tel:+989900032475">+989900032475</a>
						<a class="dn_btn" href="mailto:parvaneh.m1376@gmail.com">support@our_coursera.com</a>
					</div>
           		</div>
           	</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.html"><img src="../static/assets/landing_page/img/icon/logo1.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
                        <!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="{{ url_for('logout')}}">Logout</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('landing_page')}}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="{{ url_for('about_us')}}">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('activity')}}">Activity</a></li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="{{ url_for('all_courses')}}">All Courses</a>
                                        <li class="nav-item"><a class="nav-link" href="{{ url_for('my_courses')}}">Enrolled Courses</a>
										<li class="nav-item"><a class="nav-link" href="{{ url_for('my_courses')}}">Goals</a></li>
									</ul>
								</li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('allFriends')}}">Friends</a></li>
							</ul>
						</div>
					</div>
            	</nav>++
            </div>
        </header>
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<!--<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>-->
				<img class="overlay " src="../static/assets/landing_page/img/AI-pg/AI_Banner.jpg" height="1034" width="1550"  alt="">
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Course Details Area =================-->
        <section class="blog_area single-post-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post row">
                            <div class="col-lg-3  col-md-3">
                                <div class="blog_info text-right">
                                    <img class="img-fluid" style="height: 330px; width: 190px" src="../static/assets/landing_page/img/AI-pg/AI_lLogo.jpeg" alt="">
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-9 blog_details">
                                <h2>Artificial Intelligence</h2>
                                <p class="excert">
                                    In computer science, artificial intelligence (AI), sometimes called machine intelligence,
                                    is intelligence demonstrated by machines, in contrast to the natural intelligence displayed by humans.
                                    Leading AI textbooks define the field as the study of "intelligent agents": any device that perceives its
                                    environment and takes actions that maximize its chance of successfully achieving its goals.Colloquially, the term "artificial intelligence"
                                    is often used to describe machines (or computers) that mimic "cognitive" functions that humans associate with the human mind, such as "learning" and "problem solving".</p>
                                <p>
                                   As machines become increasingly capable, tasks considered to require "intelligence" are often
                                    removed from the definition of AI, a phenomenon known as the AI effect.[3] A quip in Tesler's Theorem says "AI is whatever hasn't been done yet."
                                    For instance, optical character recognition is frequently excluded from things considered to be AI, having become a routine technology.
                            </div>
                            <div class="col-lg-12">
                                <div class="quotes">
                                    Artificial intelligence was founded as an academic discipline in 1955, and in the years since has experienced several waves of optimism,
                                    followed by disappointment and the loss of funding (known as an "AI winter"),
                                    followed by new approaches, success and renewed funding
                                    <br></br>
                                    <img src="../static/assets/landing_page/img/AI-pg/AI_graph.jpg" alt="">

                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-fluid" src="../static/assets/landing_page/img/AI-pg/AI_chart.png" alt="">
                                    </div>
                                    <div class="text-justify">
                                        <p style="font-size: smaller">
                                            The blue line could be an example of overfitting<br> a linear function due  to random noise.<br>
                                        Somewhat noisy linear data fit to both a linear<br> function and to a polynomial of 10 degrees.<br>
                                            Although the polynomial function is a perfect fit,<br> the linear version can be expected to generalize <br>better.
                                            In other words, if the two functions were <br>used to extrapolate beyond the fit data, the linear<br> function would make better predictions.<br></p>

                                    </div>
                                </div>
                                <br></br>
                                <br></br>
                                <div class="text-center">
                                    <h5 style="color: black ; ">
									" If you are interested in watching this course's video, click the button "
								    </h5>
                                    <br>
                                    <div class="text-center">
                                        <a href="{{url_for('comments')}}" class="primary-btn submit_btn" name="watch">Watch Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                   <!--=========Quote Area =========-->
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <div style="text-align: center; font-size: large; color: #545b62;">Famous Quote
                                </div><!-- /input-group -->
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img height="200px" width="200px" class="author_img rounded-circle"  src="../static/assets/landing_page/img/AI-pg/AI_quote.jpeg" alt="">
                                <h4> Stephen Hawking </h4>
                                <p>Theorical Physicist</p>
                                <br></br>
                                <p style="color: black; font-family:'Gill Sans MT Ext Condensed Bold'"> “ AI is likely to be either the best or worst thing to happen to humanity. ” </p>
                                <div class="br"></div>
                            </aside>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Course Details Area =================-->

        <!--================ start footer Area  =================-->
       <footer class="footer-area p_120"style="text-align:center">
            <div class="container"style="text-align:center">
                <div class="row">
                    <div class="col-lg-2  col-md-6 col-sm-6" >
                        <div class="single-footer-widget tp_widgets" >
                           <h6 class="footer_title"style="text-align:center">Categories</h6>
                            <ul class="list">
                            	<li>Computer Engineering</li>
                            	<li>Electrical Engineering</li>
                            	<li>Physics</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Features</h6>
                            <ul class="list">
                            	<li>Search by name</li>
                            	<li>Search by Description</li>
                            	<li>See Goals</li>
                            	<li>See Study Chart</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Resources</h6>
                            <ul class="list">
                            	<li>YouTube</li>
                            	<li>Wikipedia</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
<!--                    <p class="col-lg-8 col-md-8 footer-text m-0">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->

                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->






        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../static/assets/landing_page/js/jquery-3.3.1.min.js"></script>
        <script src="../static/assets/landing_page/js/popper.js"></script>
        <script src="../static/assets/landing_page/js/bootstrap.min.js"></script>
        <script src="../static/assets/landing_page/js/stellar.js"></script>
        <script src="../static/assets/landing_page/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="../static/assets/landing_page/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="../static/assets/landing_page/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="../static/assets/landing_page/vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="../static/assets/landing_page/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../static/assets/landing_page/js/jquery.ajaxchimp.min.js"></script>
        <script src="../static/assets/landing_page/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="../static/assets/landing_page/vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="../static/assets/landing_page/vendors/counter-up/jquery.counterup.js"></script>
        <script src="../static/assets/landing_page/js/mail-script.js"></script>
        <script src="../static/assets/landing_page/js/theme.js"></script>
    </body>
</html>
