<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="../static/assets/landing_page/img/icon/logo1.png" type="image/png">
        <title>CHATS</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/assets/landing_page/css/bootstrap.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/linericon/style.css">
        <link rel="stylesheet" href="../static/assets/landing_page/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="../static/assets/landing_page/css/style.css">
        <link rel="stylesheet" href="../static/assets/landing_page/css/responsive.css">
        <script src="../static/assets/landing_page/js/sweetalert.min.js"></script>


    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="header_area">
           	<div class="top_menu row m0">
           		<div class="container">
					<div class="float-left">
						<ul class="list header_social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
					<div class="float-right">
						<a class="dn_btn" href="tel:+989900032475">+989900032475</a>
						<a class="dn_btn" href="mailto:parvaneh.m1376@gmail.com">support@our_coursera.com</a>
					</div>
           		</div>
           	</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="{{ url_for('landing_page')}}"><img src="../static/assets/landing_page/img/icon/logo1.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="{{ url_for('logout')}}">Logout</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('landing_page')}}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="{{ url_for('about_us')}}">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('all_courses')}}">Activity</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('all_courses')}}">AllCourses</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('allFriends')}}">Friends</a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->


        <!--================Home Banner Area =================-->

        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
                <img class="overlay " src="../static/assets/landing_page/img/banner/gettyimages-526545674.jpg">
                <div class="container">
					<div class="banner_content text-center">
						<h2>START CHAT</h2>

					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->


        <!--================Blog Area =================-->
          <section class="blog_area">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8">

                        <div class="blog_details">
                        </div>




                        <div class="comments-area" style="height: 527px; width:100%;background-image:url(../static/assets/landing_page/img/banner/download.jpg);overflow-y:scroll; border-top:15px solid;border-bottom:5px solid;">

                           {% for post in posts %}
                         {% if (post.user_id==friend.id) %}
                            <div class="" style="">
						<div class="row">

                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center" style="height:80px;width:300px">
                                    <div class="thumb">
                                        <a href="#"><img class="rounded-circle" src="{{friend.img_url}}"  style="height:80px;width:80px"alt="" ></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                    </div>
                                    <div class="detials">
                                <br>
                                <br>
                                        <p style="font-weight:bold">{{friend.username}}</p>
                                        <p style="font-size:small;;font-size:10px" >{{post.timestamp}}</p>
                                        <h4 style="text-align:left;font-weight:bold">{{ post.body}}</h4>
                                    </div>
                                </div>





						</div>
					        </div>
                            <p style="color:lightgray;text-align:center">____________________________________________________________________</p>

                       {% else %}

                            <div class="text-right">
						<div class="row">

                              <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"style="height:110px;width:300px">
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center" style="height:110px;width:300px">
                                    <div class="detials">
                                <br>
                                <br>
                                        <p class="text-right"style="font-weight:bold;text-align:right">{{user.username}}</p>
                                        <p class="text-right"style="text-align:right;font-size:10px">{{post.timestamp}}</p>
                                        <h4 class="text-right" style="text-align:right;font-weight:bold;">{{ post.body}}</h4>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#"><img class=" rounded-circle" src="{{user.img_url}}" style="height:80px;width:80px" alt=""></a>
                                    </div>
                                </div>




						</div>
					        </div>
                            <p style="color:lightgray;text-align:center">____________________________________________________________________</p>

                                {% endif %}
                                {% endfor %}

                            <br>


                        </div>
                        <form action="" method="POST" novalidate>

                        <aside class="f_widget news_widget comment-area" style="background-image:url(../static/assets/landing_page/img/banner/download.jpg)">
                            <div class="input-group d-flex flex-row">
                                        <input name="massage" placeholder="Enter text ..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter text ...'" required="" style="height:70px;width:630px;background-color:#F5F5F5;">
                                        <button  name="submit" class="btn sub-btn" style="width:90px;background-color:gray"><span class="lnr lnr-arrow-right"></span></button>

                                    </div>
                        </aside>
                              </form>


                   <br><br>

                    </div>


                    <div class="col-lg-4">
                    <br>
                    <br>
                        <br>
                        <br>
                            <br>
                            <br>
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src={{current_user.img_url}} alt="">
                                <h4>{{current_user.username}}</h4>
                                <p>{{current_user.email}}</p>
<!--                                <div class="social_icon">-->
<!--                                    <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-github"></i></a>-->
<!--                                    <a href="#"><i class="fa fa-behance"></i></a>-->
<!--                                </div>-->
<!--                                <p>...</p>-->
                            </aside>
                                <div class="br"></div>



                        </div>
                    <br>
                    <br>
                    <br>

                    </div>






                </div>
            </div>
        </section>
        <!--================Blog Area =================-->








        <!--================ start footer Area  =================-->

         <footer class="footer-area p_120"style="text-align:center">
            <div class="container"style="text-align:center">
                <div class="row">
                    <div class="col-lg-2  col-md-6 col-sm-6" >
                        <div class="single-footer-widget tp_widgets" >
                           <h6 class="footer_title"style="text-align:center">Categories</h6>
                            <ul class="list">
                            	<li>Computer Engineering</li>
                            	<li>Electrical Engineering</li>
                            	<li>Physics</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Features</h6>
                            <ul class="list">
                            	<li>Search by name</li>
                            	<li>Search by Description</li>
                            	<li>See Goals</li>
                            	<li>See Study Chart</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Resources</h6>
                            <ul class="list">
                            	<li>YouTube</li>
                            	<li>Wikipedia</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
<!--                    <p class="col-lg-8 col-md-8 footer-text m-0">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->

                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../static/assets/landing_page/js/jquery-3.3.1.min.js"></script>
        <script src="../static/assets/landing_page/js/popper.js"></script>
        <script src="../static/assets/landing_page/js/bootstrap.min.js"></script>
        <script src="../static/assets/landing_page/js/stellar.js"></script>
        <script src="../static/assets/landing_page/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="../static/assets/landing_page/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="../static/assets/landing_page/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="../static/assets/landing_page/vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="../static/assets/landing_page/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../static/assets/landing_page/vendors/jquery-ui/jquery-ui.js"></script>
        <script src="../static/assets/landing_page/js/jquery.ajaxchimp.min.js"></script>
        <script src="../static/assets/landing_page/vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="../static/assets/landing_page/js/mail-script.js"></script>
        <script src="../static/assets/landing_page/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="../static/assets/landing_page/vendors/counter-up/jquery.counterup.js"></script>
        <script src="../static/assets/landing_page/js/theme.js"></script>
    </body>
</html>
