<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="../static/assets/landing_page/img/icon/logo1.png" type="image/png">
        <title>Learn IT Education</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/assets/landing_page/css/bootstrap.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/linericon/style.css">
        <link rel="stylesheet" href="../static/assets/landing_page/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="../static/assets/landing_page/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="../static/assets/landing_page/css/style.css">
        <link rel="stylesheet" href="../static/assets/landing_page/css/responsive.css">
    </head>
    <body>

        <!--================Header Menu Area =================-->
        <header class="header_area">
           	<div class="top_menu row m0">
           		<div class="container">
					<div class="float-left">
						<ul class="list header_social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
						</ul>
					</div>
					<div class="float-right">
						<a class="dn_btn" href="tel:+989900032475">+989900032475</a>
						<a class="dn_btn" href="mailto:parvaneh.m1376@gmail.com">support@our_coursera.com</a>
					</div>
           		</div>
           	</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.html"><img src="../static/assets/landing_page/img/icon/logo1.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item"><a class="nav-link" href="{{ url_for('logout')}}">Logout</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('landing_page')}}">Home</a></li>
								<li class="nav-item"><a class="nav-link" href="{{ url_for('about_us')}}">About</a></li>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MyCourses</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="{{ url_for('index')}}">Enrolled Courses</a>
										<li class="nav-item"><a class="nav-link" href="{{ url_for('all_courses')}}">Goals</a></li>
									</ul>
								</li>
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('all_courses')}}">Friends</a></li>
							</ul>
						</div>
					</div>
            	</nav>++
            </div>
        </header>
        <!--================Header Menu Area =================-->

        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<!--<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>-->
				<img class="overlay " src="https://static.vecteezy.com/system/resources/previews/000/680/516/non_2x/digital-circuit-design-on-a-dark-blue-background.jpg"
					 img width="1500">
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Course Details Area =================-->
        <section class="blog_area single-post-area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post row">
                            <div class="col-lg-3  col-md-3">
                                <div class="blog_info text-right">
                                    <img class="img-fluid" style="height: 330px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTY61xQALCTypHO3wPzOmudNZaWn3jN9iGZg2Zwe73m2ZIncK28" alt="">
                                </div>
                            </div>

                            <div class="col-lg-9 col-md-9 blog_details">
                                <h2>Logical Circuits</h2>
                                <p class="excert">
                                    A logic gate is an idealized or physical electronic device implementing a Boolean function, a logical
                                    operation performed on one or more binary inputs that produces a single binary output. Depending on the context, the term may
                                    refer to an ideal logic gate, one that has for instance zero rise time and unlimited fan-out, or it may refer to a non-ideal physical device.
                                    Logic gates are primarily implemented using diodes or transistors acting as electronic switches, but
                                    can also be constructed using vacuum tubes, electromagnetic relays (relay logic), fluidic logic, pneumatic logic, optics, molecules,
                                    or even mechanical elements. With amplification, logic gates can be cascaded in the same way that Boolean functions can be composed, a
                                    llowing the construction of a physical model of all of Boolean logic, and therefore, all of the algorithms and mathematics that can be desc
                                    ribed with Boolean logic.
                            </div>
                            <div class="col-lg-12">
                                <div class="quotes">
                                    Logic circuits include such devices as multiplexers, registers, arithmetic logic units (ALUs),
                                    and computer memory, all the way up through complete microprocessors,
                                    which may contain more than 100 million gates. In modern practice, most gates are made from MOSFET
                                    s (metal–oxide–semiconductor field-effect transistors).</div>
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-fluid" src=https://i.stack.imgur.com/DM44B.png alt="">
                                    </div>
                                    <div class="text-justify">
                                        <img class="img-fluid" src=https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQr4j_zDEequFclAELaymCBXvk-75XQdNld6wFVHREO3h8TPe2t alt="">
                                    </div>
                                </div>
                                <br></br>
                                <br></br>
                                <div class="text-center">
                                    <h5 style="color: black ; ">
									" If you are interested in watching this course's video, click the button "
								    </h5>
                                    <br>
                                    <div class="text-center">
                                     <a href="#" class="primary-btn submit_btn">Watch Video</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="comment-form">
                            <h4>Leave a Reply</h4>
                            <form>
                                <div class="form-group form-inline">
                                  <div class="form-group col-lg-6 col-md-6 name">
                                    <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                                  </div>
                                  <div class="form-group col-lg-6 col-md-6 email">
                                    <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                                  </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                </div>
                                <a href="#" class="primary-btn submit_btn">Post Comment</a>
                            </form>
                        </div>
                    </div>



                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <div style="text-align: center; font-size: large; color: #545b62;"> Quote
                                </div><!-- /input-group -->
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img height="200px" width="200px" class="author_img rounded-circle"  src="https://images.computerhistory.org/fellows/1999_konrad_zuse.jpg" alt="">
                                <h4> Konard Zuse </h4>
                                <p>co-inventor the world's first programmable computer</p>
                                <br></br>
                                <p style="color: black; font-family:'Gill Sans MT Ext Condensed Bold'"> “The danger of computers becoming like humans is not as great as the danger of
                                    humans becoming like computers.” </p>
                                <div class="br"></div>
                            </aside>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Course Details Area =================-->

        <!--================ start footer Area  =================-->
         <footer class="footer-area p_120"style="text-align:center">
            <div class="container"style="text-align:center">
                <div class="row">
                    <div class="col-lg-2  col-md-6 col-sm-6" >
                        <div class="single-footer-widget tp_widgets" >
                           <h6 class="footer_title"style="text-align:center">Categories</h6>
                            <ul class="list">
                            	<li>Computer Engineering</li>
                            	<li>Electrical Engineering</li>
                            	<li>Physics</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Features</h6>
                            <ul class="list">
                            	<li>Search by name</li>
                            	<li>Search by Description</li>
                            	<li>See Goals</li>
                            	<li>See Study Chart</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2  col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                           <h6 class="footer_title">Resources</h6>
                            <ul class="list">
                            	<li>YouTube</li>
                            	<li>Wikipedia</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row footer-bottom d-flex justify-content-between align-items-center">
<!--                    <p class="col-lg-8 col-md-8 footer-text m-0">&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
<!--&lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;</p>-->

                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->






        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/theme.js"></script>
    </body>
</html>
