<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Login</title>
        {% endif %}

        <link rel="stylesheet" href="../static/assets/login_register/style.css">

    </head>
    <body>
        <div id="login-box">
          <div class="left">
              <h1>Login</h1>
              <form action="" method="post" novalidate>

                  {{ form.hidden_tag() }}
                  <input type="text" name="username" placeholder="Username" />
                  {% for error in form.username.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  <input type="password" name="password" placeholder="Password" />
                  {% for error in form.password.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}

                  <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
                  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                  {{ form.submit() }}

              </form>
          </div>

          <div class="right">
            <span class="loginwith">Sign in with<br />social network</span>

            <button class="social-signin facebook">Log in with facebook</button>
            <button class="social-signin twitter">Log in with Twitter</button>
            <button class="social-signin google">Log in with Google+</button>
          </div>
          <div class="or">^_^</div>
        </div>
    </body>
</html>


<!--{% extends "base.html" %}-->

<!--{% block content %}-->
<!--    <h1>Sign In</h1>-->
<!--    <form action="" method="post" novalidate>-->
<!--        {{ form.hidden_tag() }}-->
<!--        <p>-->
<!--            {{ form.username.label }}<br>-->
<!--            {{ form.username(size=32) }}<br>-->
<!--            {% for error in form.username.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>-->
<!--            {{ form.password.label }}<br>-->
<!--            {{ form.password(size=32) }}<br>-->
<!--            {% for error in form.password.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>-->
<!--        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>-->
<!--        <p>{{ form.submit() }}</p>-->
<!--    </form>-->
<!--{% endblock %}-->


