<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Login</title>
        {% endif %}

        <link rel="stylesheet" href="../static/assets/login_register/style.css">

    </head>
    <body>
        <div id="register-box" style="height: 600px;">
          <div class="left">
              <h1>Register</h1>
              <form action="" method="post" novalidate>

                  {{ form.hidden_tag() }}
                  <input type="text" name="username" placeholder="Username" />
                  {% for error in form.username.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  <input type="text" name="email" placeholder="E-mail" />
                  {% for error in form.email.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  <input type="password" name="password" placeholder="Password" />
                  {% for error in form.password.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                  <input type="password" name="password2" placeholder="Retype password" />
                  {% for error in form.password2.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}

                  <p><a href="{{ url_for('login') }}">Have an account?</a></p>

                  <p>{{ form.submit() }}</p>

              </form>
          </div>

          <div class="right_register" style="height: 600px;">
            <span class="loginwith">Sign in with<br />social network</span>

            <button class="social-signin facebook">Log in with facebook</button>
            <button class="social-signin twitter">Log in with Twitter</button>
            <button class="social-signin google">Log in with Google+</button>
          </div>
          <div class="or">^_^</div>
        </div>
    </body>
</html>


<!--{% extends "base.html" %}-->

<!--{% block content %}-->
<!--    <h1>Register</h1>-->
<!--    <form action="" method="post">-->
<!--        {{ form.hidden_tag() }}-->
<!--        <p>-->
<!--            {{ form.username.label }}<br>-->
<!--            {{ form.username(size=32) }}<br>-->
<!--            {% for error in form.username.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>-->
<!--            {{ form.email.label }}<br>-->
<!--            {{ form.email(size=64) }}<br>-->
<!--            {% for error in form.email.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>-->
<!--            {{ form.password.label }}<br>-->
<!--            {{ form.password(size=32) }}<br>-->
<!--            {% for error in form.password.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>-->
<!--            {{ form.password2.label }}<br>-->
<!--            {{ form.password2(size=32) }}<br>-->
<!--            {% for error in form.password2.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>{{ form.submit() }}</p>-->
<!--    </form>-->
<!--{% endblock %}-->
